body {
    background-color: oldlace;
}


/*.CodeMirror {*/
/*    resize: both;*/
/*    font-family: monospace; !* Use a monospace font *!*/
/*    font-size: 16px; !* Adjust font size as needed *!*/
/*}*/
#editor {
    width: 400px;
    /*resize: both;*/
    /*width: 100%; !* Adjust as needed *!*/
    /*height: 400px; !* Adjust as needed *!*/
    /*border: none; !* Optional: Remove border *!*/
    /*resize: none; !* Prevent resizing *!*/
    font-family: monospace; /* Use a monospace font */
    font-size: 24px; /* Adjust font size as needed */
}



#editor-container {
    position: relative;
    border: 4px solid pink;
    display: flex;
    gap:20px;
}


#score-audit {
    position: absolute;
    top: 0;
    right: 0;
    padding:0 20px 20px;
    border:5px solid #838181;
    background-color: #fdf5e6;
}
#score-audit h1 {
    margin: 0;
}




#skip-problem-btn {
    align-self: flex-end

}

#instructions-box {
    display: flex;
    margin: 0 20px;
    /*background-color: chocolate;*/
    min-height: 60px;
}

#instructions-box div:first-of-type{
    align-self: center;
    font-weight: bolder;
    font-size: 2em;
}

#instructions {
    margin-left: 10px;
    /*font-size: larger;*/
    font-weight: bold;
    padding: 10px;
}

#reset-problem-btn {
    align-self: flex-end

    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*z-index: 1111;*/
}

.help-container {
    margin: 20px 0 0 20px;
    padding: 20px;
    border: 3px solid red;
    max-width: 700px;
}



#solution-box {
    position: relative;
    display: none;
}
#copy-full-solution-btn {
    position: absolute;
    right:0;
    display: none;
}
#copy-full-solution-btn.show-copy {
    display: inline-block;
}

/*#solution-box.show-solution {*/
#solution-box {
    display: block;
    background-color: chocolate;
}


#stats {
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}


#stats > div {
    max-width: 150px;
    width: 100%;
    /*background-color: violet;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    background-color: #fdf5e6;
    border: 1px solid  #000;
    font-weight: bolder;
}

#stats > div {

}

#stats > div:first-of-type {
    /*background-color: red;*/
    align-self: center;
    align-items: flex-start;
    border:none;
}


#stats > div:last-child {
    text-align: center;
}

#stats > div:last-child > div{
    background-color: #fdf5e6;
    font-size: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.solution > span:first-of-type {
    text-align: right;
    width: 100px;
    display: inline-block;
    background-color: cornsilk;
    padding-right: 10px;
    font-weight: bold;
}
.solution > span:last-of-type {
    /*background-color: #424211;*/
}


/*---------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#hint-code > p {
    border-bottom: 2px solid green;
    margin: 0 0 10px;
    padding-bottom: 5px;
}

/*-------overlay---------------*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 118, 118, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}
.overlay.active {
    display: flex;
}

#overlay-dialog {
    background-color: cornsilk;
    padding:10px;
    border: 1px solid #838181;
    box-shadow: 15px 15px 15px 0 #838181;
    border-radius: 16px;
}


.close-overlay {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-overlay:hover,
.close-overlay:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




#final-stats {
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}


#final-stats > div {
    max-width: 150px;
    width: 100%;
    /*background-color: violet;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    background-color: #fdf5e6;
    border: 1px solid  #000;
    font-weight: bolder;
}

#final-stats > div {

}

#final-stats > div:first-of-type {
    /*background-color: red;*/
    align-self: center;
    align-items: flex-start;
    border:none;
}


#final-stats > div:last-child {
    text-align: center;
}

#final-stats > div:last-child > div{
    background-color: #fdf5e6;
    font-size: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.final-total,
.final-solved,
.final-skipped,
.final-hint-cnt,
.final-solution-cnt {
    color: #574949;
    font-size: x-large;
    font-weight: bold;
}


/* Set editor dimensions */
#editor {
    min-height: 300px;
    width: 80%;
}

/* Stretch editor to fit inside its containing div */
.cm-editor {
    height: 100%;
    width: 100%;
}

li {
    list-style-type: none;
}

.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}
/*337*/